
{% block menu %}
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('GTicket_logo.png') }}" width="150" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for key,value in items %}
                    {% if value is not iterable %}
                        <li class="nav-item">
                            {% if key != 'Tickets' %}
                                <a class="nav-link" href="{{ value }}">{{ key }} <span class="sr-only">(current)</span></a>
                            {% else %}
                                <a class="nav-link active" href="{{ value }}">{{ key }} <span class="sr-only">(current)</span></a>
                            {% endif %}
                            </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ key }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for key,value in value %}
                                {% if value != '/ticket/new' %}
                                    <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                                {% else %}
                                     <a class="dropdown-item createTicketItems" href="{{ value }}">{{ key }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock menu %}
{#******************************************************************************************#}
<style>
    .createTicketItems {
        color: #ffc107;
    }

    .createTicketItems:hover {
        color: #FFFFFF;
        background-color: #ffc107;
    }

    .navbar {
        background-color: #203A45;
        color: #fff;
    }

    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
</style>